html{
  height:100%;
  width: 100%;

}

body{
  margin:auto;
    position: relative;

}

.header, .footer,.intro,.team, .project{
  padding: 5%;
  padding-bottom: 0;
  display:block;
}
.header{
  /*background-color: #2196F3;
  color:white;*/
  background-color: white;
  color:black;

}
.footer{
  background-color: white;

  /*color:white;*/

}

a,a:link,a:visited
{
 color:black;
 text-decoration:none;
}

a:active{
  font-weight: bold;
}

.logo{
  display: inline-block;
  background-image: url(images/logo.png);
  height:50px;
  width:333px;
  background-size: cover;
  padding-bottom: 5%;
}

.pink{
  margin-left:0px;
  margin-right: 0px;
  width:100%;
  height:50%;
  background-color:#faedef;
}

.signin{
  display: inline-block;
  float:right;
  padding: 10px;
  background-color: #f8f8f8;
  border: 2px solid #e4e4e4;
}

.signin img{
  content: url("images/profile.png");
  width:56px;

}
.signin #username {
  display: block;
}
/*
.header{
    background: url(images/intelcopy.jpg) no-repeat center;
  background-size: cover;
  /*height:300px;
  color:white;
}*/

.nav ul{
  padding:0px;
  padding-top:  20px ;
}

.nav ul li{
    list-style-type: none;
    display: inline-block;
    padding-right: 40px;
}
.listen-live-buttons ul {
  padding: 0;
}
.listen-live-buttons li {
    list-style-type: none;
    display: inline-block;
    padding-right: 20px;
}

/*
  canvas
*/
canvas{

  border: 1px solid;
  position: relative;
  top:5px;
  margin-left: 10%;
  width: 100%;
  height:300px;
  background-color: white;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

}
.outer{
  display: inline-block;
  width:25%;
  padding-left: 5%;
  padding-top: 2%;
  max-height: 300px;
  overflow:hidden;
}

::-webkit-scrollbar {
    display: none;
}


.left{
  height: 400px;
  overflow-y: scroll;

}

.main{
  display: inline-block;
  width:40%;

}

.composition {
  height:30px;
  border: 1px solid;
  margin-bottom: 5%;
  background-color:#f0dcdc ;
  border: none;
  color: black;
  padding-left: 10px;
  padding-top: 5px;

}

.left .active{
  background-color: #fab4b4;
}



/*
  about page
*/

.intro{
  /*
  margin:auto;
  width:92%;*/
  background:url(images/intelcopy1.jpg) no-repeat center;
  background-size: cover;
  height:300px;
  color:white;


}

.intro .title{
  width:60%;
}

.title{
  padding-bottom: 40px;
}

.person{
  display: inline-block;
  text-align: center;
  width: 30%;
  padding-bottom: 40px;
}
.avatar{
width: 96px;
height: 96px;
/*background: url(images/hello.jpg) no-repeat;*/
background-size: 96px 96px;
border-radius: 64px;

}
.name{
  font-weight: bold;
  font-size: 1.3em;
  padding-top: 20px;
}

@media screen and (max-width:520px){
  .signin{
    padding-top:25px;
  }
}

.connected-status {
  background-color: #FB3D3D;
  border-radius: 4px;
  border: 1px solid black;
  font-size: 14px;
  text-align: center;
  padding: 6px;
  width: 150px;
}
.connected {
  background-color: #2DE158;
}
